@import url('https://fonts.cdnfonts.com/css/8bit-wonder');


.Home {
    font-family: '8BIT WONDER';
}

.Quick-Link {
    font-family: '8BIT WONDER';
}

.pushable {
    cursor: pointer;
}

.focus {
    transform: translateY(-1.5px);
}

.pushable:active .focus {
    transform: translateY(1px);
  }